/* Configuração iniciais do body */
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #3F374C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Cabeçalho do lado branco*/
header div{
    display: flex;
    position: absolute;
    background-color: #989494;
    left: 0;
    top: 0;
    padding-bottom: 11.6%;
    padding-right: 50%;
}

/* Configuração lado branco */
.branco{
    display: flex;
    position: absolute;
    background-color: #D9D9D9;
    left: 0;
    top: 25%;
    padding-bottom: 120%;
    padding-right: 50%;
}

/* Cabeçalho */
header{
    background-color: #322A3E;
    padding: 20px;
}

/* Configuração de cursor */
header a{
    cursor: default;
}

/* Configuração do ícone home */
.home{
    width: 8%;
    height: 8%;
    padding-right: 130px;
    padding-left: 52%;
    justify-content: space-between;
}

/* Configuração do ícone beach */
.beach{
    width: 8%;
    height: 8%;
    padding-right: 130px;
    padding-left: 10px;
    justify-content: space-between;
}

/* Configuração do ícone castle */
.castle{
    width: 7%;
    height: 7%;
}

/* Configuração de imagens gerais */
div img{
    display: flex;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 30%;
    left: 4%;
    border: solid black 10px;
}

/* Configuração da foto desenhando */
.desenhando{
    top: 140%;
}

/* Configuração da foto no youtube */
.youtube{
    top: 140%;
    left: 55%;
}

/* configuração dos avisos separadamente (aviso 1,2 e 3) */
.aviso{
    font-size: 20px;
    color: black;
    display: flex;
    position: absolute;
    top: 690px;
    left: 11%;
}

.aviso2{
    font-size: 20px;
    color: black;
    display: flex;
    position: absolute;
    top: 1330px;
    left: 11%;
}

.aviso3{
    font-size: 20px;
    color: #D9D9D9;
    display: flex;
    position: absolute;
    top: 1330px;
    left: 62%;
}

/* Configuração dos textos */
.textos{
    font-weight: bold;
    text-align: center;
    padding-left: 50%;
    color: white;
    font-size: 25px;
}

/* Configuração do emoji de joia */
.joia{
    border: 0;
    display: flex;
    position: absolute;
    padding-left: 60%;
    top: 80%;
    width: 20%;
    height: 30%;
    
}

/* Configuração do emoji de sigma */
.sigma{
    border: 0;
    display: flex;
    position: absolute;
    padding-left: 55%;
    top: 60%;
    width: 30%;
    height: 60%;
}

/* Configuração do botão para página final */
button{
    background-color:  #322A3E;
    display: flex;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    border: solid #322A3E 2px;
    border-radius: 10px;
    top: 250%;
    left: 43%;
    cursor: pointer;
}

/* Configuração do texto do botão */
button p{
    color: #D9D9D9;
    font-weight: bold;
}

