/* Configuração iniciais do body */
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #3F374C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Cabeçalho */
header{
    background-color: #322A3E;
    padding: 20px;
}

/* Configuração de cursor */
header a{
    cursor: default;
}

/* Configuração do ícone home */
.home{
    width: 8%;
    height: 8%;
    padding-right: 400px;
    padding-left: 45px;
    justify-content: space-between;
}

/* Configuração do ícone beach */
.beach{
    width: 8%;
    height: 8%;
    padding-right: 400px;
    padding-left: 10px;
    justify-content: space-between;
}

/* Configuração do ícone castle */
.castle{
    width: 7%;
    height: 7%;
}

/* Configuração do texto */
p{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
}

/* Configuração da foto "em casa" */
.emcasa{
    align-items: center;
    width: 55%;
    height: 55%;
    margin-left: 23%;
    margin-bottom: 30px;
    border: solid 10px black;
    border-radius: 10px;
}